ALGOLIA_APP_ID=<YOUR APP ID GOES HERE>
ALGOLIA_API_KEY=<YOUR API KEY GOES HERE>
ALGOLIA_LOGS_TYPE=error
ALGOLIA_LOGS_COUNT=300
TIMER_INTERVAL=5
REDIS_DB=5
SENTINELS=sentinel:26379
SENTINEL_REDIS_MASTER=redis